[user]
	email = raphael.nodenot@epita.fr
	name = Raphael Nodenot
[remote "origin"]
	prune = true
[pull]
	rebase = true
[color]
	ui = true
[push]
	followTags = true
	default = upstream
[core]
        editor = vim
[commit]
        gpgsign = true
